.picker-storage {
    position: relative;
    display: flex;
}

.picker {
    position: relative;
    display: flex;
    justify-content: space-between;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.right-arrow {
    width: 0;
    height: 0;
    left: 23px;
    position: absolute;
    border-bottom: 6px solid transparent;
    border-left: 10px solid transparent;
    border-top: 6px solid transparent;
    border-right: 10px solid black;
}
.left-arrow {
    width: 0;
    height: 0;
    position: absolute;
    border-bottom: 6px solid transparent;
    border-left: 10px solid black;
    border-top: 6px solid transparent;
    border-right: 8px solid transparent;
}
.arrows {
    position: absolute;
    top: 0;
    margin-top: -6px;
    left: -11px;
    width: 40px;
    height: 12px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    z-index: 3;
    user-select: none;
    -webkit-user-select: none;
}
.circle {
    width: 8px;
    height: 8px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    left: 170px;
    top: 0;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}
