@import "../var.scss";

.legend{
    position: absolute;
    left: 12.5%;
    top: 2%;
    width: 52.2%;
    height: 14.4vw;
    background-color: rgba(255, 255, 255, 0.336);
    display: flex;
    justify-content: space-between;
    &__content{
        border: 3px solid $color-dracula-orchid;
        overflow-y: auto;
        scrollbar-width: thin;
        border-radius: 3px;
        margin-left: 10px;
        background: #fff;
        box-sizing: border-box;
        padding: 5px;
    }
    &__link{
        a{
            position: absolute;
            bottom: 10px;
            right: 15px;
            background: $color-dracula-orchid;
            color: #fff;
            padding: 7px;
            border-radius: 3px;
        }   
    }
}

.periodic-table{
    display: flex;
    margin-top: 5px;
    margin-left: 5px;
    &__period-container{
        margin: 1.4vw 3px 0 0;
    }
    &__period, &__group, &__main-container, &__row, &__row-inner, &__row-bottom{
        display: flex;
    }
    &__period, &__group{
        font-family: sans-serif;
    }
    &__period{
        height: 5.1vw;
        font-size: 1.4vw;
        align-items: center;
        box-sizing: border-box;
        margin-top: -1px;
    }
    &__group{
        justify-content: center;
        align-items: flex-end;
        width: 5.2vw;
        font-size: 1.4vw;
        box-sizing: border-box;
        margin-left: -1px;
        padding-bottom: 2px;
    }
    &__link{
        display: flex;
        align-items: flex-end;
        text-decoration: underline;
    }
    &__main-container{
        flex-direction: column;
        width: calc(93.6vw-17px);
    }   
    &__row{
        justify-content: space-between;
    }
    &__row-bottom{
        justify-content: center;
    }
    &__row-bottom_top{
        margin-top: 1vw;
    }



    &_metal-highlighted{
        .chemical-element:not(.metal){
            opacity: 0.9;
            background-color: grey !important;
        }
    }
    &_no-metal-highlighted{
        .chemical-element:not(.no-metal){
            opacity: 0.9;
            background-color: grey !important;
        }
    }

    &_no-mass{      .chemical-element{                                 &__ar{ visibility: hidden; }}}
    &_no-oxidation{ .chemical-element{                          &__oxidation{ visibility: hidden; }}}
    &_no-name-la{   .chemical-element{ justify-content: space-around;  &__name-la{ display: none; }}}
    &_no-name-ru{   .chemical-element{ justify-content: space-around;  &__name-ru{ display: none; }}}
    &_no-radiation{ .chemical-element{                          &__radiation{ visibility: hidden; }}}
    &_no-number{    .chemical-element{                             &__number{ visibility: hidden; }}}


    &_no-mass.periodic-table_no-oxidation{
        .chemical-element{
            justify-content: space-between;
            &__symbol{
                font-size: 62em;
            }
            &__storage-center{
                display: none;
            }
        }
    }
    &_no-oxidation.periodic-table_no-radiation.periodic-table_no-number{
        .chemical-element{
            align-items: center;
            &__storage-column{
                display: none;
            }
        }
    }
    &_no-mass.periodic-table_no-name-ru.periodic-table_no-name-la.periodic-table_no-oxidation{
        .chemical-element{
            justify-content: center;
            &__storage-row{
                flex-direction: column;
                align-items: center;
            }
            &__number{
                font-size: 16em;
                margin-top: 0.5em;
            }
            &__storage-column{
                justify-content: center;
                align-items: center;
            }
        }
    }
    &_no-mass.periodic-table_no-name-ru.periodic-table_no-name-la.periodic-table_no-oxidation.periodic-table_no-radiation{
        .chemical-element{
            &__radiation{
                display: none;
            }
        }
    }
    &_no-mass.periodic-table_no-oxidation.periodic-table_no-radiation.periodic-table_no-number.periodic-table_no-name-ru{
        .chemical-element{
            justify-content: space-around;
            &__name-ru{
                display: none;   
            }
            &__name-la{
                font-size: 15em;  
            }
        }
    }
    &_no-mass.periodic-table_no-oxidation.periodic-table_no-radiation.periodic-table_no-number.periodic-table_no-name-la{
        .chemical-element{
            justify-content: space-around;
            &__name-la{
                display: none;  
            }
            &__name-ru{
                font-size: 15em;
            }
        }
    }

    &_no-mass.periodic-table_no-oxidation.periodic-table_no-name-la.periodic-table_no-name-ru.periodic-table_no-radiation.periodic-table_no-number{
        .chemical-element{
            justify-content: center;
            &__name-ru, &__name-la, &__oxidation, &__ar, &__number, &__radiation{
                display: none;
            }
            &__symbol{
                width: 100%;
                font-size: 70em;
                text-align: center;
            }
        }
    }
}

.chemical-element{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    height: 5.05vw;
    width: 5.2vw;
    font-size: 0.05vw;
    padding: 0.1vw;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    border: 1px solid $color-dracula-orchid;
    margin: -1px 0 0 -1px;
    user-select: none;
    box-sizing: border-box;
    &:hover{
        transform: scale(1.3);
        z-index: 1;
    }
    &_legend{
        cursor: default;
        width: 13.5vw;
        height: 100%;
        font-size: 0.14vw;
        border: 0.2vw solid $color-dracula-orchid;
        border-radius: 3px;
        &:hover{
            transform: none;
        }
        .chemical-element__radiation{
            width: 3vw;
        }
    }
    &__name-ru, &__name-la, &__oxidation, &__ar, &__number{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14em;
        line-height: 0.95;
    }
    &__name-ru{
        font-weight: bold;
    }
    &__symbol{
        font-size: 53em;
        letter-spacing: -0.08em;
        line-height: 0.8;
        font-family: "Times New Roman";
    }
    &__storage-row{
        display: flex;
        justify-content: space-between;
    }
    &__storage-column{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__storage-center{
        height: 20%;
        margin-top: 5em;
    }
    &__radiation{
        width: 1.5vw;
    }
    &.s{
        background: #fe83b5;
    }
    &.p{
        background: #ffd737;
    }
    &.d{
        background: #5ca7e0;
    }
    &.f-top{
        background: #90cd8e;
    } 
    &.f-bottom{
        background: #78bd62;
    }
}