@import "../var.scss";
#solubility-table{
	margin: 0 auto;
	margin-bottom: 40px;
	width: 95%;
	border: 2px solid #2d3436;
	min-width: 500px;
	text-align: center;
	table-layout: fixed;
	font-size: 1.5vw;
	user-select: none;
	background: #636e72;
}
.soluble{
	background: #fe83b5;
}
.insoluble{
	background: #90cd8e;
}
.slightly-soluble, .slightlySoluble{
	background: #5ca7e0;
}
.decomposes{
	background: #ffd737;
}

.cell, .header-cell, .fixed-cell{
	vertical-align: middle;
	text-align: center;
	border: 1px solid black;
	font-size: 1em;
	line-height: 1.11em;
	overflow: hidden;
	position: relative;
	background-clip: padding-box !important;
	box-sizing: border-box;
}
.header-cell, .hc, .fixed-cell{
	background: #2d3436;
	color: #dfe6e9;
}
.fixed-cell{
	width: 8%;
}
.cell.highlighted:after, .cell.active:after{
	content: "";
	position: absolute;
	top: 0;left: 0;right: 0;bottom: 0;
	background: rgba(255, 255, 255, 0.4);
}
.cell.active{
	
	font-size: 1.1em;
	border: 2px solid red;
}
tr{
	border: none;
}

@media screen and (max-width: 950px) {
	.cell, .header-cell, .fixed-cell{
		font-size: 16px;
		width: 40px;
	}
	.fixed-cell {
		width: 80px;
	}
}

.solubility-table{
	$left-title-width: 6.875em;
	$top-title-height: 1.875em;
	$item-width: 3.75em;
	$item-height: $top-title-height;

	font-size: 1.04vw;//1.04vw
    position: relative;
	user-select: none;
    width: 100%;
	height: 22*$item-height;
	max-height: 100%;
	display: flex;
	justify-content: center;
	box-sizing: content-box;
  	
    &__container{
        position: relative;
		height: 100%;
		width: $item-width*20 + $left-title-width;
		box-shadow: 0 0 15px 0 rgb(0, 0, 0);
		box-sizing: content-box;
		overflow: auto;
		font-size: 1.1em;
		scrollbar-width: thin;
		scrollbar-color: $color-dracula-orchid $color-city-lights;
		border: 1px solid $color-dracula-orchid;//hides micro bug(№1) in chrome
		background: $color-dracula-orchid;//hides micro bug(№1) in chrome
    }
	&__container::-webkit-scrollbar {
		background-color: $color-city-lights;
		width: 8px;
		height: 8px;
	}
	&__container::-webkit-scrollbar-corner {
		display: none;
	}
	&__left-column {
		z-index: 4;
		position: sticky;
		left: 0;
		width: $left-title-width;
	}
	&__wraper {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
	}
	&__top-row {
		position: sticky;
		top: 0;
		z-index: 3;
		margin-left: $left-title-width;
		height: $top-title-height;
		display: flex;
	}
	&__main{
		display: flex;
		flex-direction: column;
	}

	&__items-container {
		margin-left: $left-title-width;
		display: flex;
	}

	&__wraper {
		display: flex;
	}

	&__item-title, &__title, &__item {
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__item-title, &__title {
		color: $color-city-lights;
		background: $color-dracula-orchid;
		height: $item-height;
	}

	&__item-title {
		width: $item-width;
	}

	&__item {
		position: relative;
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		border-right: 1px solid rgba(0, 0, 0, 0.3);
		width: $item-width;
		height: $item-height;
		cursor: pointer;
		background: $color-city-lights;//hides micro bug(№1) in chrome
		&_soluble{
			background: #fe83b5;
		}
		&_slightly-soluble{
			background: #5ca7e0;
		}
		&_insoluble{
			background: #90cd8e;
		}
		&_decomposes{
			background: #ffd737;
		}
		&:hover {
			border: 2px solid $purple;
		}
		&:hover::after, &:hover::before, &_active::after, &_active::before {
			content: "";
			position: absolute;
			z-index: 1;
			background-color: rgba(255, 255, 255, 0.369);
			pointer-events: none;
		}
		&:hover::after, &_active::after {
			width: $item-width;
			bottom: 100%;
			height: 100%*20;
		}
		&:hover::before, &_active::before {
			width: 100%*20;
			right: 100%;
			height: $item-height;
		}
	}

	&__hint{
		position: fixed;
		visibility: hidden;
		pointer-events: none;
		z-index: 4;
		background: #fff;
		padding: 1rem;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.39);
		opacity: 0.95;
		border-radius: 10px;
		&_active {
			visibility: visible;
		}
		&-title, &-text, &-color{
			margin: 0;
		}
		&-title {
			font-size: 1.3rem;
		}
		&-text {
			color: $font-color1;
			margin-bottom: 0.7rem;
		}
		&-color {
			color: $font-color2;
		}
	}
}

@media screen and (max-width: 1300px) {
	.solubility-table {
		font-size: 14px;
	}
}

@media screen and (max-width: 700px) {
	.solubility-table {
		font-size: 13px;
	}
}