@media screen and (max-width: 360px) {
    .canvas__list{
        left: -90%;
        &_active{
            left: 0;
        }
    }
}

@media screen and (orientation: portrait) {
    .canvas{
        overflow-y: hidden;
    }
    .canvas__formula-selection{
        height: 45px;
        overflow-x: auto;
        overflow-y: hidden;
        &-container{
            width: 100%;
            flex-direction: row;
            align-items: center;
        }
    }
    .canvas__list{
        max-width: 90%;
        height: auto;
        top: 0;
        bottom: 45px;
    }

    .text-creator {
        bottom: 45px;
        left: 0;
        right: 0;
        top: auto;
        border-radius: 0;
        transform-origin: bottom left;
    }

    .canvas__main-container{
        flex-direction: column;
    }
    .canvas__open-modal-add-text, .canvas__download, .canvas__import{
        bottom: 60px;
    }
    .canvas__modal-add-text{
        right: 10px;
        bottom: 110px;
    }
    .canvas__modal-add-text-container{
        width: auto;
        max-width: 100%;
    }
    .canvas__modal-add-text-input{
        max-width: 50%;
    }
    .download__setting{
        flex-direction: column;
        align-items: center;
        text-align: center;
        input{
            text-align: center;
            margin: 5px 0;
        }
    }
}
