#editor{
    position: absolute;
    width: 100%;
    bottom: 20%;
    top: 0;
    box-sizing: border-box;
    border: 5px solid white;
    background-color: white;
}

#editor-menu{
    position: fixed;
    bottom: 0;
    left: 50px;
    height: 25%;
    min-height: 140px;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
    box-sizing: border-box;
    display: flex;
}

.editor-menu-left{
    position: relative;
    width: 40%;
    min-width: 170px;
    box-shadow: 2px 0 4px 0 rgba(0,0,0,0.03);
    display: flex;
    flex: 0 1 auto;
    padding: 5px;
    justify-content: space-around;
    flex-direction: column;
    height: 95%;
    align-items: center;
}
.editor-menu-left-top-content{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.editor-menu-left-top-content div{
    font-size: 1.5vw;
}

.chemical-structure{
    width: 100%;
    height: 100%;
    user-select: none;
}

.chemical-structure-block{
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    cursor: move;
    border: 1px dashed rgba(0,0,0,0);
    z-index: 1;
    transform-origin: 0 0;
}

.chemical-structure-block.active, .chemical-structure-block.select{
    border: 1px dashed black;  
}
.chemical-structure-block.text, .chemical-structure-block.custom{
    width: auto;
    height: auto;
    z-index: 2;
}
.chemical-structure-block.active{
    z-index: 10;
}
.chemical-structure-block.active .chemical-structure g{
    stroke: #ffd737 !important;
}
.chemical-structure-block.active .chemical-structure .fillable-part{
    fill: #ffd737 !important;
}
.chemical-structure-block.select{
    z-index: 20;
}
.chemical-structure-block.select .chemical-structure g{
    stroke: #5ca7e0 !important;
}
.chemical-structure-block.select .chemical-structure .fillable-part{
    fill: #5ca7e0 !important;
}
#editor-chemical-structure{   
    position: absolute;
    right: 0;top: -20px;
    background-color: #2d3436;
    display: none;
    cursor: pointer;
    opacity: 0.8;
}
.chemical-structure-block.active #editor-chemical-structure, .chemical-structure-block.select #editor-chemical-structure{
    display: flex;
}

.plus, .minus, .left-deg, .right-deg {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d3436;
    transition: 0.25s;
}
.plus:hover, .minus:hover, .left-deg:hover, .right-deg:hover {
    background-color: #4a4d4e;
}
.plus svg, .minus svg{
    width: 15px;
    height: 15px;
    fill: #dfe6e9;
}

#right-bar{
    position: absolute;
    top: 0;
    right: 10px;
    background-color: #fff;
    border-radius: 5px 0 0 5px;
    width: 300px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    transition: 0.5s;
    z-index: 15;
}

#right-bar.active{  
    top: 10%;
}

.bar-item{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid grey;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
}
.bar-item.active{
    background-color: rgba(0,0,0,0.2);
}
.bar-delete{
    width: 16px;
    height: 16px;
}
.bar-delete svg{
    transition: 0.2s;
    fill: gray;
}
.bar-delete:hover svg{
    fill: red;
}

#right-bar-head{
    background-color: #2d3436;
    display: flex;
    flex-direction: row-reverse;
    padding: 3px;
    border-radius: 0 0 5px 5px;   
    transition: 0.5s;
}

#right-bar.active #right-bar-head{
    border-radius: 5px 5px 0 0;
}

#bar-toggle-button{
    outline: none;
    border: none;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    background: none;
    cursor: pointer;
}
#bar-toggle-button svg{   
    fill: #dfe6e9;
}
#bar-toggle-button:hover svg{
    fill: greenyellow;  
}
#right-bar.active #bar-toggle-button:hover svg{
    fill: red;
}
#right-bar-bottom{
    max-height: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    transition: 0.5s;
    
}

#right-bar.active #right-bar-bottom{  
    max-height: 40vh;
}

.menu-item.dk1, .menu-item.dk{
    height: 45%;
}

.editor-menu-right{
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin;
    overflow-y: hidden;
}

.editor-menu-left-bottom-content{
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: space-around;
}

.formula-container{
    width: 49%;
}

.formula-input{
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 3px;
}

.button-container{
    width: 49%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

.downoload-button, .formula-enter, .import-button{
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 3px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    text-align: center;
}
.downoload-button{
    background-color: #ffd737;
}
.formula-enter{
    background-color: #fe83b5;
}
.import-button{
    background-color: #5ca7e0;
}
.chemical-structure-block.dk2, .chemical-structure-block.dk3, .chemical-structure-block.dk4{
    width: 40px;
    height: 40px;
}

.chemical-structure-block.line, .chemical-structure-block.doubleLine, .chemical-structure-block.tripleLine, .chemical-structure-block.dashLine{
    width: 50px;
    height: 50px;
}

.chemical-structure-block.text{
    height: 30px;
}

.chemical-structure-block.dk, .chemical-structure-block.dk1{
    width: 258px;
    height: 140px;
}

.editor-menu-text-block{
    display: flex;
    justify-content: space-around;
}

@media (max-width: 1315px) {
    .editor-menu-left-bottom-content{
        flex-direction: column;
    }
    .formula-container{
        width: 100%;
    }
    .button-container{
        width: 100%;
    }
}

@media (max-width: 1140px) {
    #editor-menu{
        height: 140px;
    }
}

@media (max-width: 1100px) {
    .editor-menu-left-top-content{
        display: none;
    }
    .button-container{
        flex-direction: column;
    }
}

@media (max-width: 460px), (orientation: portrait) {
    #editor-menu{
        left: 0;
        min-width: 250px;
    }
    #right-bar{
        display: none;
    }
}