* { margin: 0; padding: 0; text-decoration: none; font-size: 1em; outline: none; }
code, kbd, samp, pre, tt, var, textarea, input, select, isindex, listing, xmp, plaintext { 
font: inherit; font-size: 1em; white-space: normal; }
dfn, i, cite, var, address, em { font-style: normal; }
th, strong, h1, h2, h3, h4, h5, h6 { font-weight: normal; }
a, img, a img, iframe, form, fieldset, abbr, acronym, object, applet, table {
border: none;}
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td, center { vertical-align: top; }
body { line-height: 1; background: #dfe6e9; color: black; }
q { quotes: "" ""; }
ul, ol, dir, menu { list-style: none; }
a { color: inherit; }
hr { display: none; } /* we don't need a visual hr in layout */
/* disables some nasty font attributes in standard browsers */
font { color: inherit !important; font: inherit !important; color: inherit !important; } 
marquee { overflow: inherit !important; -moz-binding: none; }
blink { text-decoration: none; }
nobr { white-space: normal; }
input{ border: none; background: none; }
button{border: none;outline:none}
@import "./var.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
  overflow-y: hidden;
  line-height: 1.25;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: $color-dracula-orchid;
  border-radius: 3px;
}

#main , .main{
  display: flex;
  position: fixed;
  z-index: 2;
  left: 50px;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #dfe6e9;
  scrollbar-width: thin;
  scrollbar-color: #171a1b rgba(0,0,0,0);
  overflow-y: auto;
}

.grow{
  flex-grow: 1;
}

sup, sub{
  font-size: 0.6em;
}

b{
  font-weight: 600;
}

h1{
  font-weight: bold;
  font-size: 2.25rem;
}

h2{
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 0.5em;
}
h3{
  font-size: 1.25em;
  margin-bottom: 0.25em;
  margin-top: 0.75em;
}

h4{
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 0.25em;
}

h5{
  font-size: 1.15em;
  margin-bottom: 0.25em;
  line-height: 0.9;
}

p{
  font-size: 1em;
  margin: 1em 0;
}

p.m{
  margin: 0.5em 0;
}

p.m-small{
  margin: 0.2em 0;
}

p.m-big{
  margin: 0.8em 0;
}

p.m-little{
  margin: 0.05em 0;
}

i{
  font-style: italic;
}