#solubility-table{
	margin: 0 auto;
	margin-bottom: 40px;
	width: 95%;
	border: 2px solid #2d3436;
	min-width: 500px;
	text-align: center;
	table-layout: fixed;
	font-size: 1.5vw;
	user-select: none;
	background: #636e72;
}
.soluble{
	background: #fe83b5;
}
.insoluble{
	background: #90cd8e;
}
.slightly-soluble, .slightlySoluble{
	background: #5ca7e0;
}
.decomposes{
	background: #ffd737;
}

.cell, .header-cell, .fixed-cell{
	vertical-align: middle;
	text-align: center;
	border: 1px solid black;
	font-size: 1em;
	line-height: 1.11em;
	overflow: hidden;
	position: relative;
	background-clip: padding-box !important;
	box-sizing: border-box;
}
.header-cell, .hc, .fixed-cell{
	background: #2d3436;
	color: #dfe6e9;
}
.fixed-cell{
	width: 8%;
}
.cell.highlighted:after, .cell.active:after{
	content: "";
	position: absolute;
	top: 0;left: 0;right: 0;bottom: 0;
	background: rgba(255, 255, 255, 0.4);
}
.cell.active{
	
	font-size: 1.1em;
	border: 2px solid red;
}
tr{
	border: none;
}

@media screen and (max-width: 950px) {
	.cell, .header-cell, .fixed-cell{
		font-size: 16px;
		width: 40px;
	}
	.fixed-cell {
		width: 80px;
	}
}