$color-dracula-orchid: #2d3436;
$color-city-lights: #dfe6e9;
$color-soothing-breeze: #b2bec3;
$blue: #5ca7e0;
$yellow: #ffd737;
$pink: #fe83b5;

$red: #c0392b;
$purple: #8e44ad;

$font-color: #000;
$font-color1: #1d1d1d;
$font-color2: #464646;